
<div class="container mt-4">
    <h2 class="text-primary">Anuncios de Charangas</h2>
  
    <!-- Sección Crear Anuncio -->
    <div *ngIf="user.rol === 'charanga'" class="card p-3 mb-4">
      <h4>Crear Anuncio</h4>
      <div class="row">
        <div class="col-md-4 mb-2">
          <input type="text" class="form-control" placeholder="Título" [(ngModel)]="nuevoAnuncio.titulo">
        </div>
        <div class="col-md-4 mb-2">
          <textarea class="form-control" placeholder="Descripción" [(ngModel)]="nuevoAnuncio.descripcion"></textarea>
        </div>
        <div class="col-md-2 mb-2">
          <input type="date" class="form-control" [(ngModel)]="nuevoAnuncio.fechaInicio">
        </div>
        <div class="col-md-2 mb-2">
          <input type="date" class="form-control" [(ngModel)]="nuevoAnuncio.fechaFin">
        </div>
        <div class="col-md-4 mb-2">
          <select class="form-select" [(ngModel)]="nuevoAnuncio.idProvincia">
            <option value="">Selecciona una provincia</option>
            <option *ngFor="let provincia of provincias" [value]="provincia.idProvincia">{{ provincia.nombre }}</option>
          </select>
        </div>
        <div class="col-md-12 text-end">
          <button class="btn btn-success" (click)="crearAnuncio()">Publicar</button>
        </div>
      </div>
    </div>
  
    <!-- Filtros -->
    <h4 class="text-secondary">Filtrar anuncios</h4>
    <div class="row mb-4">
      <div class="col-md-6">
        <select class="form-select" [(ngModel)]="filtroProvincia" (change)="obtenerAnuncios()">
          <option value="">Todas las provincias</option>
          <option *ngFor="let provincia of provincias" [value]="provincia.idProvincia">{{ provincia.nombre }}</option>
        </select>
      </div>
       <!-- Filtro por fecha inicio -->
      <div class="col-md-3">
        <input type="date" class="form-control" [(ngModel)]="fechaInicioFiltro" (change)="obtenerAnuncios()">
      </div>

      <!-- Filtro por fecha fin -->
      <div class="col-md-3">
        <input type="date" class="form-control" [(ngModel)]="fechaFinFiltro" (change)="obtenerAnuncios()">
      </div>
    </div>

    <!-- Lista de anuncios -->

    <div *ngIf="anunciosFiltrados.length > 0">
      <div *ngFor="let anuncio of anunciosFiltrados" class="charanga-card card mb-3 shadow">
        <!-- Cabecera -->
        <div class="d-flex justify-content-between align-items-center p-3" style="position: relative;">
          <div>
            <h5 class="mb-1">{{ anuncio.nombre }}</h5>
            <p class="mb-0">
                <strong>Valoración media:</strong> {{ anuncio.valoracionMedia }}
            </p>
          </div>
          <div style="margin-left: auto; margin-right: 10px;">
            <img [src]="getFotoUrl(anuncio.idUsuario) || 'assets/perfil.png'" 
                alt="Foto de oferta" 
                class="rounded-circle"
                style="width: 80px; height: 80px; object-fit: cover;">
          </div>
        </div>
  
        <!-- Línea separadora -->
        <hr style="border-top: 1px solid black; margin: 0 15px;" />


        <div class="card-body">
          <div class="col-md-3 d-flex align-items-center justify-content-center">
            <h5 class="card-title" >{{ anuncio.titulo }}</h5>
          </div>
          <p class="card-text"><strong>Provincia: </strong> {{ anuncio.provincia }}</p>
          <p class="card-text"> <strong>Descripcion: </strong>{{ anuncio.descripcion }}</p>
          <p class="card-text">
            <strong> Fechas: </strong> 
            {{ anuncio.fechaInicio | date:'dd/MM/yyyy' }} - {{ anuncio.fechaFin | date:'dd/MM/yyyy' }}
          </p>
        </div>

      </div>
    </div>
  
    <!-- Mensaje si no hay anuncios -->
    <div *ngIf="anunciosFiltrados.length === 0" class="alert alert-warning text-center mt-3">
      No se encontraron anuncios con los filtros seleccionados.
    </div>

</div>
  