<img src="/assets/easymusic.png" class="card-img-top" alt="...">
<div class="d-flex justify-content-center align-items-center bg-light">
  <div class="card shadow p-4 rounded-4" style="width: 100%; max-width: 400px;">
    <h2 class="text-center fw-bold mb-4">Iniciar sesión</h2>
    
    <form (submit)="onSubmit()">
      <div class="mb-3">
        <input type="email" class="form-control" placeholder="Correo electrónico" [(ngModel)]="credentials.email" name="email" required>
      </div>

      <div class="mb-3 position-relative">
        <input [type]="showPassword ? 'text' : 'password'" class="form-control" placeholder="Contraseña" [(ngModel)]="credentials.password" name="password" required>
        <button type="button" class="btn btn-sm btn-link position-absolute top-50 end-0 translate-middle-y me-2" 
                (click)="togglePasswordVisibility()" style="text-decoration: none;">
          <i class="bi" [ngClass]="showPassword ? 'bi-eye-slash-fill' : 'bi-eye-fill'"></i>
        </button>
      </div>

      <div class="d-grid mb-3">
        <button class="btn btn-primary btn-lg">Ingresar</button>
      </div>

      <div class="text-center">
        <p class="mb-0">¿No tienes cuenta? 
          <a (click)="goRegister()" class="text-primary fw-semibold" style="cursor: pointer;">Regístrate</a>
        </p>
      </div>
    </form>
  </div>
</div>
