<div class="container mt-4">
    
    <h2 *ngIf="user.rol === 'charanga'" class="text-primary">Mis búsquedas de músicos</h2>
    <h2 *ngIf="user.rol === 'musico'" class="text-primary">Búsqueda de músicos</h2>

    <!-- Botón para mostrar el formulario -->
    <div *ngIf="user.rol === 'charanga' && !mostrarFormulario">
        <button class="btn btn-success mb-3" (click)="mostrarFormulario = true">Publicar nuevo acto</button>
    </div>

    <!-- Seccion crear Acto-->
    <div class="card p-3 mb-4" *ngIf="user.rol === 'charanga' && mostrarFormulario" >
        <div class="d-flex justify-content-between align-items-center mb-2">
            <h4> Información del acto</h4>
            <button class="btn btn-sm btn-danger" (click)="mostrarFormulario = false">Cerrar</button>
        </div>
        
        <div class="row">
            <div class="col-md-4 mb-2">
                <input type="text" class="form-control" placeholder="Título" [(ngModel)]="acto.titulo">
            </div>
            <div class="col-md-4 mb-2">
                <select class="form-select" [(ngModel)]="acto.tipo">
                    <option value="" disabled selected>Tipo de acto</option>
                    <option value="Desfile">Desfile</option>
                    <option value="Pasacalles">Pasacalles</option>
                    <option value="Concierto">Concierto</option>
                    <option value="Cumpleaños">Cumpleaños/Serenata</option>
                    <option value="Boda">Boda/Bautizo/Comunión</option>
                    <option value="DiaCompleto">Día completo</option>
                </select>   
            </div>
            <div class="col-md-4 mb-2">
                <textarea class="form-control" placeholder="Descripción" [(ngModel)]="acto.descripcion"></textarea>
            </div>
            <div class="col-md-2 mb-2">
                <input type="date" class="form-control" [(ngModel)]="acto.fechaInicio">
            </div>
            <div class="col-md-2 mb-2">
                <input type="date" class="form-control" [(ngModel)]="acto.fechaFin">
            </div>
            <div class="col-md-4 mb-2">
                <select class="form-select" [(ngModel)]="acto.idProvincia">
                    <option value="" disabled selected>Selecciona una provincia</option>
                    <option *ngFor="let provincia of provincias" [value]="provincia.idProvincia">{{ provincia.nombre }}</option>
                </select>
            </div>

                    <!-- Sección para añadir músicos -->
            <h5 class="mt-3">Número e instrumentos buscados</h5>
            <div *ngFor="let musico of acto.musicos; let i = index" class="row align-items-center mb-2">
                <div class="col-3">
                    <input type="number" class="form-control" placeholder="Número" [(ngModel)]="musico.cantidad" [name]="'cantidad'+i">
                </div>
                <div class="col-7">
                    <select class="form-select" [(ngModel)]="musico.idInstrumento">
                        <option value="" disabled selected>Instrumento</option>
                    <option *ngFor="let instrumento of instrumentos" [value]="instrumento.idInstrumento">{{ instrumento.nombre }}</option>
                    </select>
                </div>
                <div class="col-2">
                    <button class="btn btn-danger" (click)="eliminarMusico(i)">–</button>
                </div>
            </div>

            <div class="col-md-4 mb-2"> 
                <button class="btn btn-secondary w-100" (click)="agregarMusico()">+ Añadir más músicos</button>
            </div>


            
            <div class="col-md-12 text-end">
                <button class="btn btn-success" (click)="crearActo()">Publicar</button>
            </div>

            
        </div>
    </div>


    <!-- Filtros -->
    <h4 class="text-secondary">Filtrar ofertas</h4>
    <div class="row mb-4">
        <div class="col-md-6">
            <select class="form-select" [(ngModel)]="filtroProvincia" (change)="obtenerActos()">
            <option value="">Todas las provincias</option>
            <option *ngFor="let provincia of provincias" [value]="provincia.idProvincia">{{ provincia.nombre }}</option>
            </select>
        </div>
        <!-- Filtro por fecha inicio -->
        <div class="col-md-3">
            <input type="date" class="form-control" [(ngModel)]="fechaInicioFiltro" (change)="obtenerActos()">
        </div>

        <!-- Filtro por fecha fin -->
        <div class="col-md-3">
            <input type="date" class="form-control" [(ngModel)]="fechaFinFiltro" (change)="obtenerActos()">
        </div>

      <!-- Filtro por tipo de acto -->
        <div class="col-md-3">
            <select class="form-select" [(ngModel)]="filtroTipo" (change)="obtenerActos()">
            <option value="">Todos los tipos de acto</option>
            <option value="Desfile">Desfile</option>
            <option value="Pasacalles">Pasacalles</option>
            <option value="Concierto">Concierto</option>
            <option value="Cumpleaños">Cumpleaños/Serenata</option>
            <option value="Boda">Boda/Bautizo/Comunión</option>
            <option value="DiaCompleto">Día completo</option>
            </select>
        </div>

        <div class="col-md-6">
            <select class="form-select" [(ngModel)]="filtroInstrumento" (change)="obtenerActos()">
              <option value="">Todos los instrumentos</option>
              <option *ngFor="let instrumento of instrumentos" [value]="instrumento.idInstrumento">{{ instrumento.nombre }}</option>
            </select>
        </div>
    </div>

     <!-- Lista de ofertas para musicos-->
    <div *ngIf="actosFiltrados.length > 0 && user.rol === 'musico'">
        <div *ngFor="let act of actosFiltrados" class="charanga-card card mb-3 shadow">
            <!-- Cabecera -->
            <div class="d-flex justify-content-between align-items-center p-3" style="position: relative;">
                <div>
                    <h5 class="mb-1">{{ act.nombre }}</h5>
                    <p class="mb-0"> {{act.email}} </p>
                    <p class="mb-0">
                        <strong>Valoración media:</strong> {{ act.valoracionMedia > 0 ? act.valoracionMedia : 'Sin valoraciones'  }}
                    </p>
                </div>
                <div style="margin-left: auto; margin-right: 10px;">
                    <img [src]="getFotoUrl(act.idUsuario) || 'assets/perfil.png'" 
                        alt="Foto de oferta" 
                        class="rounded-circle"
                        style="width: 80px; height: 80px; object-fit: cover;">
                </div>
            </div>
        
            <!-- Línea separadora -->
            <hr style="border-top: 1px solid black; margin: 0 15px;" />
        
            <!-- Cuerpo -->
            <div class="card-body">
                <div class="col-md-3 d-flex align-items-center justify-content-center">
                    <h5 class="card-title">{{ act.titulo }}</h5>
                </div>
                
                <p class="card-text"><strong>Tipo de acto: </strong> 
                <span *ngIf="act.tipo === 'Desfile'">Desfile</span>
                <span *ngIf="act.tipo === 'Pasacalles'">Pasacalles</span>
                <span *ngIf="act.tipo === 'Concierto'">Concierto</span>
                <span *ngIf="act.tipo === 'Cumpleaños'">Cumpleaños/Serenata</span>
                <span *ngIf="act.tipo === 'Boda'">Boda/Bautizo/Comunión</span>
                <span *ngIf="act.tipo === 'DiaCompleto'">Día completo</span>
                </p>
                <p class="card-text"><strong>Descripción:</strong> {{ act.descripcion }}</p>
                <p class="card-text"><strong>Fecha:</strong> 
                {{ act.fechaInicio | date:'dd/MM/yyyy' }} - {{ act.fechaFin | date:'dd/MM/yyyy' }}
                </p>
                <p class="card-text"><strong>Provincia:</strong> {{ act.provincia }}</p>
                <p *ngIf="act.musicosBuscados > 0" class="card-text"><strong>Instrumentos buscados:</strong></p>
                <div *ngFor="let musico of act.musicos" class="d-flex justify-content-between">
                    <p *ngIf="act.musicosBuscados > 0" class="card-text"><strong> - </strong>{{ musico.cantidad }} {{ getNombreInstrumento(musico.idInstrumento)  }}</p>
                </div>

                <div *ngIf="!esAceptada(act.idActo) && comprobarMusicoInstrumento(act)" class="text-end">
                    <button *ngIf="!esRechazada(act.idActo)" 
                        class="btn" 
                        [ngClass]="contieneOferta(act.idActo) ? 'btn-secondary' : 'btn-success'" 
                        [disabled]="contieneOferta(act.idActo)"
                        (click)="interesarse(act)">
                        {{ contieneOferta(act.idActo) ? 'Solicitado' : 'Me interesa!' }}
                    </button>
                    <button *ngIf="esRechazada(act.idActo)"
                        class="btn btn-danger" disabled>
                        Solicitud rechazada
                    </button>
                        
                </div>
                <div *ngIf="esAceptada(act.idActo)" class="text-end">
                    
                    <button class="btn btn-success" (click)="verActo2(act, user.idUsuario)" data-bs-toggle="modal" data-bs-target="#verDetallesActo" >
                        Ver detalles
                    </button>
                </div>
            </div>
        </div>  
    </div>

    <!-- si no hay ofertas-->
    <div *ngIf="actosFiltrados.length === 0 && user.rol === 'musico'" class="alert alert-warning text-center mt-3">
        No se encontraron ofertas con los filtros seleccionados.
    </div>

    <!-- Lista de actos creados-->
    <div *ngIf="actosUsuario.length > 0 && user.rol === 'charanga'">
        <div *ngFor="let act of actosUsuario" class="charanga-card card mb-3 shadow">
            <div class="d-flex justify-content-between align-items-center p-3" style="position: relative;">
                <div>
                    <h5 class="mb-1">{{ act.nombre }}</h5>
                    <p class="mb-0"> {{act.email}} </p>
                    <p class="mb-0">
                        <strong>Valoración media:</strong> {{ act.valoracionMedia > 0 ? act.valoracionMedia : 'Sin valoraciones' }}
                        
                    </p>
                </div>
                <div style="margin-left: auto; margin-right: 10px;">
                    <img [src]="getFotoUrl(act.idUsuario) || 'assets/perfil.png'" 
                        alt="Foto de oferta" 
                        class="rounded-circle"
                        style="width: 80px; height: 80px; object-fit: cover;">
                </div>
            </div>
        
            <!-- Línea separadora -->
            <hr style="border-top: 1px solid black; margin: 0 15px;" />
        
            <!-- Cuerpo -->
            <div class="card-body">
                <div class="col-md-3 d-flex align-items-center justify-content-center">
                    <h5 class="card-title">{{ act.titulo }}</h5>
                </div>
                
                <p class="card-text"><strong>Tipo de acto: </strong> 
                <span *ngIf="act.tipo === 'Desfile'">Desfile</span>
                <span *ngIf="act.tipo === 'Pasacalles'">Pasacalles</span>
                <span *ngIf="act.tipo === 'Concierto'">Concierto</span>
                <span *ngIf="act.tipo === 'Cumpleaños'">Cumpleaños/Serenata</span>
                <span *ngIf="act.tipo === 'Boda'">Boda/Bautizo/Comunión</span>
                <span *ngIf="act.tipo === 'DiaCompleto'">Día completo</span>
                </p>
                <p class="card-text"><strong>Descripción:</strong> {{ act.descripcion }}</p>
                <p class="card-text"><strong>Fecha:</strong> 
                {{ act.fechaInicio | date:'dd/MM/yyyy' }} - {{ act.fechaFin | date:'dd/MM/yyyy' }}
                </p>
                <p class="card-text"><strong>Provincia:</strong> {{ act.provincia }}</p>
                <p *ngIf="act.musicosBuscados > 0" class="card-text"><strong>Instrumentos buscados:</strong></p>
                <div *ngFor="let musico of act.musicos" class="d-flex justify-content-between">
                    <p *ngIf="act.musicosBuscados > 0"  class="card-text"><strong> - </strong>{{ musico.cantidad }} {{ getNombreInstrumento(musico.idInstrumento)  }}</p>
                </div>

                <div class="text-end">
                    <button class="btn btn-primary" (click)="verActo(act)" data-bs-toggle="modal" data-bs-target="#verDetallesActo" >
                        Ver detalles
                      </button>
                </div>
        </div>
    </div>

    <!-- si no hay ofertas-->
    <div *ngIf="actosUsuario.length === 0 && user.rol === 'charanga'" class="alert alert-warning text-center mt-3">
        No se encontraron ofertas con los filtros seleccionados.
    </div>
</div>


<!-- Aqui se muestran las solicitudes recibidas-->
<div class="modal fade" id="verDetallesActo" tabindex="-1" aria-labelledby="verDetallesActoLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">

                <h5 *ngIf="user.rol === 'charanga'" class="modal-title" id="verDetallesOfertaLabel">Solicitudes recibidas</h5>
                <h5 *ngIf="user.rol === 'musico'" class="modal-title" id="verDetallesOfertaLabel">Información del acto</h5>
                

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>

            <!-- Detalles para el musico-->
            <div *ngIf="user.rol == 'musico'">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-start flex-column flex-md-row">
                        <div class="d-flex flex-grow-1">
                            <div class="me-3">
                                <h5 class="fw-semibold  mt-md-0">Detalles del acto</h5>
                                <p class="mb-1"><strong>Acto:</strong> {{ actoSeleccionado.titulo }}</p>
                                <p class="mb-1">
                                    <strong>Tipo de acto: </strong>
                                        <span *ngIf="actoSeleccionado.tipo === 'Desfile'">Desfile</span>
                                        <span *ngIf="actoSeleccionado.tipo === 'Pasacalles'">Pasacalles</span>
                                        <span *ngIf="actoSeleccionado.tipo === 'Concierto'">Concierto</span>
                                        <span *ngIf="actoSeleccionado.tipo === 'Cumpleaños'">Cumpleaños/Serenata</span>
                                        <span *ngIf="actoSeleccionado.tipo === 'Boda'">Boda/Bautizo/Comunión</span>
                                        <span *ngIf="actoSeleccionado.tipo === 'DiaCompleto'">Día completo</span>        
                                </p>
                                <p class="mb-1"><strong>Provincia:</strong> {{ actoSeleccionado.provincia }}</p>
                                <p class="mb-1"><strong>Descripción:</strong> {{ actoSeleccionado.descripcion }}</p>
                                <p class="mb-1"><strong>Fecha:</strong> 
                                    {{ actoSeleccionado.fechaInicio | date:'dd/MM/yyyy' }} - {{ actoSeleccionado.fechaFin | date:'dd/MM/yyyy' }}
                                
                                <!-- Datos de contacto de la charanga-->
                                <hr class="w-100 my-2" style="border-top: 1px solid black;" />
                                <h5 class="fw-semibold   mt-md-0">Datos de contacto de la charanga</h5>
                                <p class="mb-1"><strong>Email:</strong> {{ actoSeleccionado.email }}</p>
                                <p class="mb-1"><strong>Teléfono:</strong> {{ actoSeleccionado.telefono }}</p>

                                <!-- Valorar charanga-->
                                <hr class="w-100 my-2" style="border-top: 1px solid black;" />
                                    <div *ngIf="musicoContratado.valoracionCharanga == null" class="text-center">
                                      <label class="mb-1"><strong>Valorar charanga:</strong></label>
                                      <select class="form-select w-auto mx-auto mb-2" [(ngModel)]="musicoContratado.valoracionCharanga2">
                                        <option *ngFor="let valor2 of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]" [value]="valor2">{{ valor2 }}</option>
                                      </select>
                                      <button class="btn btn-success btn-sm" 
                                              (click)="asignarValoracionCharanga(actoSeleccionado.idActo, actoSeleccionado.idCharanga, musicoContratado.idMusico,
                                               musicoContratado.valoracionCharanga2, actoSeleccionado.tipo)">
                                        Asignar valoración
                                      </button>
                                    </div>

                                    <div *ngIf="musicoContratado.valoracionCharanga != null" class="text-center">
                                      <p class="mb-0"><strong>Valoración asignada a la charanga:</strong></p>
                                      <p>{{ musicoContratado.valoracionCharanga }}</p>
                                    </div>

                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <!-- Si no se ha aceptado ninguna-->
            <div *ngIf="solicitudesSinResponder.length > 0 && user.rol === 'charanga'">
                <ul class="list-group">
                    <li *ngFor="let solicitud of solicitudesSinResponder" class="list-group-item d-flex justify-content-between align-items-start flex-column flex-md-row">

                        <div class="d-flex flex-grow-1">
                            <!-- Información textual -->
                            <div class="me-3">
                                <p class="mb-1"><strong>Nombre:</strong> {{ solicitud.nombre }}</p>
                                <p class="mb-1"><strong>Provincia:</strong> {{ solicitud.provincia}}</p>
                                <p class="mb-1"><strong>Instrumento:</strong> {{ getNombreInstrumento(solicitud.idInstrumento) }}</p>
                                <p class="mb-1"><strong>Estudios musicales:</strong> {{ solicitud.nivelMusical }}</p>
                                <p class="mb-1"><strong>Tiene coche?</strong> {{ solicitud.coche == 1 ? 'Sí' : 'No' }}</p>
                                <p *ngIf="solicitud.valoracionMedia > 0" class="mb-1"><strong>Valoración media:</strong> {{ solicitud.valoracionMedia }}</p>
                                <p *ngIf="solicitud.valoracionMedia == 0" class="mb-1"><strong>Valoración media:</strong> Sin valoraciones</p>
                                <p class="mb-1">
                                    <strong>Valoración media en </strong>
                                    <strong>
                                        <span *ngIf="actoSeleccionado.tipo === 'Desfile'">Desfile:</span>
                                        <span *ngIf="actoSeleccionado.tipo === 'Pasacalles'">Pasacalles:</span>
                                        <span *ngIf="actoSeleccionado.tipo === 'Concierto'">Concierto:</span>
                                        <span *ngIf="actoSeleccionado.tipo === 'Cumpleaños'">Cumpleaños/Serenata:</span>
                                        <span *ngIf="actoSeleccionado.tipo === 'Boda'">Boda/Bautizo/Comunión:</span>
                                        <span *ngIf="actoSeleccionado.tipo === 'DiaCompleto'">Día completo:</span>
                                    </strong>
                                    <span *ngIf="getValoracion(solicitud.idCharanga) > 0">
                                        {{ getValoracion(solicitud.idCharanga) }}
                                    </span>
                                    <span *ngIf="getValoracion(solicitud.idCharanga) == 0">
                                        Sin valoraciones
                                    </span>

                                </p>
                            </div>

                            <!-- Imagen y botones -->
                            <div class="d-flex flex-column align-items-center ms-auto">
                                <img [src]="getFotoUrl(solicitud.idMusico) || 'assets/perfil.png'" 
                                    alt="Foto de solicitud" 
                                    class="rounded-circle mb-3"
                                    style="width: 80px; height: 80px; object-fit: cover;">
                                <button class="btn btn-primary mb-2" 
                                        (click)="aceptarSolicitud(solicitud.idActo, solicitud.idMusico, solicitud.idInstrumento)">
                                    Aceptar
                                </button>
                                <button class="btn btn-danger" 
                                        (click)="rechazarSolicitud(solicitud.idActo, solicitud.idMusico)">
                                    Rechazar
                                </button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div *ngIf="solicitudesSinResponder.length === 0 && user.rol === 'charanga'" class="alert alert-info mt-3">
                No se han recibido solicitudes para esta oferta.
            </div>

            <!-- Aqui se muestran los musicos contratados-->

            <div *ngIf="actoSeleccionado.musicosContratados?.length > 0 && user.rol === 'charanga'" class="mt-3">
                <h5 class="ms-3">Músicos contratados</h5>
                <ul class="list-group">
                    <li *ngFor="let musico of musicosContratados" class="list-group-item d-flex flex-row justify-content-between align-items-start">
                        <!-- Datos del músico -->
                        <div class="flex-grow-1 me-3">
                          <p class="mb-1"><strong>Nombre:</strong> {{ musico.nombre }}</p>
                          <p class="mb-1"><strong>Email:</strong> {{ musico.email }}</p>
                          <p class="mb-1"><strong>Teléfono:</strong> {{ musico.telefono }}</p>
                          <p class="mb-1"><strong>Instrumento:</strong> {{ musico.instrumento }}</p>
                          <p class="mb-1"><strong>Provincia:</strong> {{ musico.provincia }}</p>
                          <p class="mb-1"><strong>Coche:</strong> {{ musico.coche == 1 ? 'Sí' : 'No' }}</p>
                        </div>
                      
                        <!-- Foto + valoración alineada a la derecha -->
                        <div class="d-flex flex-column align-items-center w-auto" style="min-width: 130px;">
                          <img [src]="getFotoUrl(musico.idMusico) || 'assets/perfil.png'" 
                               alt="Foto del músico contratado" 
                               class="rounded-circle mb-2"
                               style="width: 80px; height: 80px; object-fit: cover;">
                      
                          <ng-container *ngIf="user.rol === 'charanga'">
                            <div *ngIf="musico.valoracionMusico == null" class="text-center">
                              <label class="mb-1"><strong>Valorar músico:</strong></label>
                              <select class="form-select w-auto mx-auto mb-2" [(ngModel)]="musico.valoracionMusico2">
                                <option *ngFor="let valor2 of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]" [value]="valor2">{{ valor2 }}</option>
                              </select>
                              <button class="btn btn-success btn-sm" 
                                      (click)="asignarValoracionMusico(actoSeleccionado.idActo, musico.idMusico, musico.valoracionMusico2, actoSeleccionado.tipo)">
                                Asignar valoración
                              </button>
                            </div>
                            <div *ngIf="musico.valoracionMusico != null" class="text-center">
                              <p class="mb-0"><strong>Valoración asignada:</strong></p>
                              <p>{{ musico.valoracionMusico }}</p>
                            </div>
                          </ng-container>
                        </div>
                      </li>
                </ul>
            </div>
 
        </div>

    </div>

</div>