<div class="container mt-5">
    <h2>Registro</h2>
    <form (submit)="onSubmit()">
      <input type="text" class="form-control" placeholder="Nombre" [(ngModel)]="user.nombre" name="nombre" required>
      <input type="email" class="form-control mt-2" placeholder="Email" [(ngModel)]="user.email" name="email" required>
      <input type="password" class="form-control mt-2" placeholder="Contraseña" [(ngModel)]="user.password" name="password" required>
      <input type="password" class="form-control mt-2" placeholder="Confirmar contraseña" [(ngModel)]="user.confirmPassword" name="confirmPassword" required>
      <input type="number" class="form-control mt-2" placeholder="Telefono" [(ngModel)]="user.telefono" name="telefono" required>
      <input type="number" class="form-control mt-2" placeholder="Provincia" [(ngModel)]="user.idProvincia" name="idProvincia" required>
      <label for="rol">Rol:</label>
        <select id="rol" [(ngModel)]="user.rol" name="rol" required>
            <option value="musico">Músico</option>
            <option value="charanga">Charanga</option>
            <option value="cliente">Cliente</option>
        </select>

         <!-- Si el usuario elige Músico -->
      <div *ngIf="user.rol === 'musico'">
        <input type="number" class="form-control mt-2" placeholder="Instrumento" [(ngModel)]="user.idInstrumento" name="idInstrumento" required>
        <input type="text" class="form-control mt-2" placeholder="Nivel musical" [(ngModel)]="user.nivelMusical" name="nivelMusical" required>
        <label class="mt-2">
          <input type="checkbox" [(ngModel)]="user.coche" name="coche"> ¿Tienes coche?
        </label>
      </div>

      <!-- Si el usuario elige Charanga -->
      <div *ngIf="user.rol === 'charanga'">
        <input type="number" class="form-control mt-2" placeholder="Año de fundación" [(ngModel)]="user.fundacion" name="fundacion" required>
      </div>
      <button class="btn btn-primary mt-3">Registrarse</button>
    </form>
  </div>
  